﻿<div layout-padding>
    <h2>Bill <md-button class="md-raised" ng-click="saveBill()">Save</md-button></h2>
    <md-content layout-padding>
        <div ng-show="!items.length">
            <h5> please add items to the bill {{bill.customerEmail}}</h5>
        </div>
        <md-input-container>
            <label>
                Customer Email
            </label>
            <input ng-model="bill.customerEmail"/>
        </md-input-container>
        <md-input-container style="margin-right: 10px;">
            <label>Staff Member</label>
            <md-select ng-model="bill.selectedStaffId">
                <md-option ng-repeat="staffMember in staff" value="{{staffMember.id}}">{{staffMember.firstName}} {{staffMember.lastName}}</md-option>
            </md-select>
        </md-input-container>

        <div ng-repeat="item in items">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{item.Name}}</span>
                        <span class="md-subhead">Cost: {{item.Value | currency: "£" : 2 }} Quantity: {{item.Quantity}} SubTotal: {{item.Value * item.Quantity | currency: "£" : 2}}</span>
                        
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </md-content>

    <h2>Add Item</h2>
    <md-content layout-padding>
        <div>
            <md-input-container>
                <label>
                    Item Name
                </label>
                <input ng-model="newBillItem.name"/>
            </md-input-container>
            <md-input-container>
                <label>
                    Value
                </label>
                <input ng-model="newBillItem.value"/>
            </md-input-container>

            <md-input-container>
                <label>
                    Quantity
                </label>
                <input ng-model="newBillItem.quantity"/>
            </md-input-container>

            <md-input-container>
                <md-button class="md-primary md-raised md-hue-2" ng-click="addItem()"> Add</md-button>
            </md-input-container>
        </div>
    </md-content>
</div>